

<!DOCTYPE html>
<html>
	<head>
		<title>所有方案資訊</title>
		<link rel='stylesheet' href='/stylesheets/joinplan/joinplan_choose.css'>
	</head>
	<body align="center" valign="center">
		include ../includes/header_other.pug

		<font size="8" color="black"><strong>所有方案資訊</strong></font>
		<br><br>
		<form action="/joinplan/joinplan_do" method="post">
			<div id="div1" style="display:block">
				<table border="1" align="center" border="1" bordercolor="green" bgcolor="white">
					<tr>
						<td align="center" valign="center">　　　　</td>

						<td>方案 hash</td>
						<td>商品類型</td>
						<td>方案開始日期</td>
						<td>方案結算日期</td>
						<td>如何損壞</td>
						<td>商品出廠日<br>（該日期之後）</td>
						<td>總人數</td>
						<td>已報修人數</td>
						<td>方案狀態</td>
					</tr>
					if(str_PlanName1)
					<tr>
						<td>1</td>

						<td>#{plan_Hash1}</td>
						<td>#{plan_Type1}</td>
						<td>#{plan_StartTime1}</td>
						<td>#{plan_EndTime1}</td>
						<td>#{how_break1}</td>
						<td>#{plan_manufacturedate1}</td>
						<td>#{plan_totaljoiner1}</td>
						<td>#{plan_repairedjoiner1}</td>
						<td>#{plan_status1}</td>
					</tr>
					if(str_PlanName2)
					<tr>
						<td>2</td>

						<td>#{plan_Hash2}</td>
						<td>#{plan_Type2}</td>
						<td>#{plan_StartTime2}</td>
						<td>#{plan_EndTime2}</td>
						<td>#{how_break2}</td>
						<td>#{plan_manufacturedate2}</td>
						<td>#{plan_totaljoiner2}</td>
						<td>#{plan_repairedjoiner2}</td>
						<td>#{plan_status2}</td>
					</tr>
					if(str_PlanName3)
					<tr>
						<td>3</td>

						<td>#{plan_Hash3}</td>
						<td>#{plan_Type3}</td>
						<td>#{plan_StartTime3}</td>
						<td>#{plan_EndTime3}</td>
						<td>#{how_break3}</td>
						<td>#{plan_manufacturedate3}</td>
						<td>#{plan_totaljoiner3}</td>
						<td>#{plan_repairedjoiner3}</td>
						<td>#{plan_status3}</td>
					</tr>
					if(str_PlanName4)
					<tr>
						<td>4</td>

						<td>#{plan_Hash4}</td>
						<td>#{plan_Type4}</td>
						<td>#{plan_StartTime4}</td>
						<td>#{plan_EndTime4}</td>
						<td>#{how_break4}</td>
						<td>#{plan_manufacturedate4}</td>
						<td>#{plan_totaljoiner4}</td>
						<td>#{plan_repairedjoiner4}</td>
						<td>#{plan_status4}</td>
					</tr>
					if(str_PlanName5)
					<tr>
						<td>5</td>

						<td>#{plan_Hash5}</td>
						<td>#{plan_Type5}</td>
						<td>#{plan_StartTime5}</td>
						<td>#{plan_EndTime5}</td>
						<td>#{how_break5}</td>
						<td>#{plan_manufacturedate5}</td>
						<td>#{plan_totaljoiner5}</td>
						<td>#{plan_repairedjoiner5}</td>
						<td>#{plan_status5}</td>
					</tr>
					if(str_PlanName6)
					<tr>
						<td>6</td>

						<td>#{plan_Hash6}</td>
						<td>#{plan_Type6}</td>
						<td>#{plan_StartTime6}</td>
						<td>#{plan_EndTime6}</td>
						<td>#{how_break6}</td>
						<td>#{plan_manufacturedate6}</td>
						<td>#{plan_totaljoiner6}</td>
						<td>#{plan_repairedjoiner6}</td>
						<td>#{plan_status6}</td>
					</tr>
					if(str_PlanName7)
					<tr>
						<td>7</td>

						<td>#{plan_Hash7}</td>
						<td>#{plan_Type7}</td>
						<td>#{plan_StartTime7}</td>
						<td>#{plan_EndTime7}</td>
						<td>#{how_break7}</td>
						<td>#{plan_manufacturedate7}</td>
						<td>#{plan_totaljoiner7}</td>
						<td>#{plan_repairedjoiner7}</td>
						<td>#{plan_status7}</td>
					</tr>
					if(str_PlanName8)
					<tr>
						<td>8</td>

						<td>#{plan_Hash8}</td>
						<td>#{plan_Type8}</td>
						<td>#{plan_StartTime8}</td>
						<td>#{plan_EndTime8}</td>
						<td>#{how_break8}</td>
						<td>#{plan_manufacturedate8}</td>
						<td>#{plan_totaljoiner8}</td>
						<td>#{plan_repairedjoiner8}</td>
						<td>#{plan_status8}</td>
					</tr>
					if(str_PlanName9)
					<tr>
						<td>9</td>

						<td>#{plan_Hash9}</td>
						<td>#{plan_Type9}</td>
						<td>#{plan_StartTime9}</td>
						<td>#{plan_EndTime9}</td>
						<td>#{how_break9}</td>
						<td>#{plan_manufacturedate9}</td>
						<td>#{plan_totaljoiner9}</td>
						<td>#{plan_repairedjoiner9}</td>
						<td>#{plan_status9}</td>
					</tr>
					if(str_PlanName10)
					<tr>
						<td>10</td>

						<td>#{plan_Hash10}</td>
						<td>#{plan_Type10}</td>
						<td>#{plan_StartTime10}</td>
						<td>#{plan_EndTime10}</td>
						<td>#{how_break10}</td>
						<td>#{plan_manufacturedate10}</td>
						<td>#{plan_totaljoiner10}</td>
						<td>#{plan_repairedjoiner10}</td>
						<td>#{plan_status10}</td>
					</tr>
				</table>
			</div>
			<div id="div2" style="display:none">
				<table border="1" align="center" border="1" bordercolor="green" bgcolor="white"">
					<tr>
						<td align="center" valign="center">　　　　</td>
						<td>方案名稱</td>
						<td>方案 hash</td>
						<td>商品類型</td>
						<td>方案開始日期</td>
						<td>方案結算日期</td>
						<td>如何損壞</td>
						<td>商品出廠日<br>（該日期之後）</td>
						<td>開頭序號限制</td>
						<td>總人數</td>
						<td>已報修人數</td>
						<td>方案狀態</td>
					</tr>
					if(str_PlanName11)
					<tr>
						<td>11</td>
						<td>#{str_PlanName11}</td>
						<td>#{plan_Hash11}</td>
						<td>#{plan_Type11}</td>
						<td>#{plan_StartTime11}</td>
						<td>#{plan_EndTime11}</td>
						<td>#{how_break11}</td>
						<td>#{plan_manufacturedate11}</td>
						<td>#{what_header_sernum11}</td>
						<td>#{plan_totaljoiner11}</td>
						<td>#{plan_repairedjoiner11}</td>
						<td>#{plan_status11}</td>
					</tr>
					if(str_PlanName12)
					<tr>
						<td>12</td>
						<td>#{str_PlanName12}</td>
						<td>#{plan_Hash12}</td>
						<td>#{plan_Type12}</td>
						<td>#{plan_StartTime12}</td>
						<td>#{plan_EndTime12}</td>
						<td>#{how_break12}</td>
						<td>#{plan_manufacturedate12}</td>
						<td>#{what_header_sernum12}</td>
						<td>#{plan_totaljoiner12}</td>
						<td>#{plan_repairedjoiner12}</td>
						<td>#{plan_status12}</td>
					</tr>
					if(str_PlanName13)
					<tr>
						<td>13</td>
						<td>#{str_PlanName13}</td>
						<td>#{plan_Hash13}</td>
						<td>#{plan_Type13}</td>
						<td>#{plan_StartTime13}</td>
						<td>#{plan_EndTime13}</td>
						<td>#{how_break13}</td>
						<td>#{plan_manufacturedate13}</td>
						<td>#{what_header_sernum13}</td>
						<td>#{plan_totaljoiner13}</td>
						<td>#{plan_repairedjoiner13}</td>
						<td>#{plan_status13}</td>
					</tr>
					if(str_PlanName14)
					<tr>
						<td>14</td>
						<td>#{str_PlanName14}</td>
						<td>#{plan_Hash14}</td>
						<td>#{plan_Type14}</td>
						<td>#{plan_StartTime14}</td>
						<td>#{plan_EndTime14}</td>
						<td>#{how_break14}</td>
						<td>#{plan_manufacturedate14}</td>
						<td>#{what_header_sernum14}</td>
						<td>#{plan_totaljoiner14}</td>
						<td>#{plan_repairedjoiner14}</td>
						<td>#{plan_status14}</td>
					</tr>
					if(str_PlanName15)
					<tr>
						<td>15</td>
						<td>#{str_PlanName15}</td>
						<td>#{plan_Hash15}</td>
						<td>#{plan_Type15}</td>
						<td>#{plan_StartTime15}</td>
						<td>#{plan_EndTime15}</td>
						<td>#{how_break15}</td>
						<td>#{plan_manufacturedate15}</td>
						<td>#{what_header_sernum15}</td>
						<td>#{plan_totaljoiner15}</td>
						<td>#{plan_repairedjoiner15}</td>
						<td>#{plan_status15}</td>
					</tr>
					if(str_PlanName16)
					<tr>
						<td>16</td>
						<td>#{str_PlanName16}</td>
						<td>#{plan_Hash16}</td>
						<td>#{plan_Type16}</td>
						<td>#{plan_StartTime16}</td>
						<td>#{plan_EndTime16}</td>
						<td>#{how_break16}</td>
						<td>#{plan_manufacturedate16}</td>
						<td>#{what_header_sernum16}</td>
						<td>#{plan_totaljoiner16}</td>
						<td>#{plan_repairedjoiner16}</td>
						<td>#{plan_status16}</td>
					</tr>
					if(str_PlanName17)
					<tr>
						<td>17</td>
						<td>#{str_PlanName17}</td>
						<td>#{plan_Hash17}</td>
						<td>#{plan_Type17}</td>
						<td>#{plan_StartTime17}</td>
						<td>#{plan_EndTime17}</td>
						<td>#{how_break17}</td>
						<td>#{plan_manufacturedate17}</td>
						<td>#{what_header_sernum17}</td>
						<td>#{plan_totaljoiner17}</td>
						<td>#{plan_repairedjoiner17}</td>
						<td>#{plan_status17}</td>
					</tr>
					if(str_PlanName18)
					<tr>
						<td>18</td>
						<td>#{str_PlanName18}</td>
						<td>#{plan_Hash18}</td>
						<td>#{plan_Type18}</td>
						<td>#{plan_StartTime18}</td>
						<td>#{plan_EndTime18}</td>
						<td>#{how_break18}</td>
						<td>#{plan_manufacturedate18}</td>
						<td>#{what_header_sernum18}</td>
						<td>#{plan_totaljoiner18}</td>
						<td>#{plan_repairedjoiner18}</td>
						<td>#{plan_status18}</td>
					</tr>
					if(str_PlanName19)
					<tr>
						<td>19</td>
						<td>#{str_PlanName19}</td>
						<td>#{plan_Hash19}</td>
						<td>#{plan_Type19}</td>
						<td>#{plan_StartTime19}</td>
						<td>#{plan_EndTime19}</td>
						<td>#{how_break19}</td>
						<td>#{plan_manufacturedate19}</td>
						<td>#{what_header_sernum19}</td>
						<td>#{plan_totaljoiner19}</td>
						<td>#{plan_repairedjoiner19}</td>
						<td>#{plan_status19}</td>
					</tr>
					if(str_PlanName20)
					<tr>
						<td>20</td>
						<td>#{str_PlanName20}</td>
						<td>#{plan_Hash20}</td>
						<td>#{plan_Type20}</td>
						<td>#{plan_StartTime20}</td>
						<td>#{plan_EndTime20}</td>
						<td>#{how_break20}</td>
						<td>#{plan_manufacturedate20}</td>
						<td>#{what_header_sernum20}</td>
						<td>#{plan_totaljoiner20}</td>
						<td>#{plan_repairedjoiner20}</td>
						<td>#{plan_status20}</td>
					</tr>
				</table>
			</div>
			<div id="div3" style="display:none">
				<table border="1" align="center" border="1" bordercolor="green" bgcolor="white"">
					<tr>
						<td align="center" valign="center">　　　　</td>
						<td>方案名稱</td>
						<td>方案 hash</td>
						<td>商品類型</td>
						<td>方案開始日期</td>
						<td>方案結算日期</td>
						<td>如何損壞</td>
						<td>商品出廠日<br>（該日期之後）</td>
						<td>開頭序號限制</td>
						<td>總人數</td>
						<td>已報修人數</td>
						<td>方案狀態</td>
					</tr>
					if(str_PlanName21)
					<tr>
						<td>21</td>
						<td>#{str_PlanName21}</td>
						<td>#{plan_Hash21}</td>
						<td>#{plan_Type21}</td>
						<td>#{plan_StartTime21}</td>
						<td>#{plan_EndTime21}</td>
						<td>#{how_break21}</td>
						<td>#{plan_manufacturedate21}</td>
						<td>#{what_header_sernum21}</td>
						<td>#{plan_totaljoiner21}</td>
						<td>#{plan_repairedjoiner21}</td>
						<td>#{plan_status21}</td>
					</tr>
					if(str_PlanName22)
					<tr>
						<td>22</td>
						<td>#{str_PlanName22}</td>
						<td>#{plan_Hash22}</td>
						<td>#{plan_Type22}</td>
						<td>#{plan_StartTime22}</td>
						<td>#{plan_EndTime22}</td>
						<td>#{how_break22}</td>
						<td>#{plan_manufacturedate22}</td>
						<td>#{what_header_sernum22}</td>
						<td>#{plan_totaljoiner22}</td>
						<td>#{plan_repairedjoiner22}</td>
						<td>#{plan_status22}</td>
					</tr>
					if(str_PlanName23)
					<tr>
						<td>23</td>
						<td>#{str_PlanName23}</td>
						<td>#{plan_Hash23}</td>
						<td>#{plan_Type23}</td>
						<td>#{plan_StartTime23}</td>
						<td>#{plan_EndTime23}</td>
						<td>#{how_break23}</td>
						<td>#{plan_manufacturedate23}</td>
						<td>#{what_header_sernum23}</td>
						<td>#{plan_totaljoiner23}</td>
						<td>#{plan_repairedjoiner23}</td>
						<td>#{plan_status23}</td>
					</tr>
					if(str_PlanName24)
					<tr>
						<td>24</td>
						<td>#{str_PlanName24}</td>
						<td>#{plan_Hash24}</td>
						<td>#{plan_Type24}</td>
						<td>#{plan_StartTime24}</td>
						<td>#{plan_EndTime24}</td>
						<td>#{how_break24}</td>
						<td>#{plan_manufacturedate24}</td>
						<td>#{what_header_sernum24}</td>
						<td>#{plan_totaljoiner24}</td>
						<td>#{plan_repairedjoiner24}</td>
						<td>#{plan_status24}</td>
					</tr>
					if(str_PlanName25)
					<tr>
						<td>25</td>
						<td>#{str_PlanName25}</td>
						<td>#{plan_Hash25}</td>
						<td>#{plan_Type25}</td>
						<td>#{plan_StartTime25}</td>
						<td>#{plan_EndTime25}</td>
						<td>#{how_break25}</td>
						<td>#{plan_manufacturedate25}</td>
						<td>#{what_header_sernum25}</td>
						<td>#{plan_totaljoiner25}</td>
						<td>#{plan_repairedjoiner25}</td>
						<td>#{plan_status25}</td>
					</tr>
					if(str_PlanName26)
					<tr>
						<td>26</td>
						<td>#{str_PlanName26}</td>
						<td>#{plan_Hash26}</td>
						<td>#{plan_Type26}</td>
						<td>#{plan_StartTime26}</td>
						<td>#{plan_EndTime26}</td>
						<td>#{how_break26}</td>
						<td>#{plan_manufacturedate26}</td>
						<td>#{what_header_sernum26}</td>
						<td>#{plan_totaljoiner26}</td>
						<td>#{plan_repairedjoiner26}</td>
						<td>#{plan_status26}</td>
					</tr>
					if(str_PlanName27)
					<tr>
						<td>27</td>
						<td>#{str_PlanName27}</td>
						<td>#{plan_Hash27}</td>
						<td>#{plan_Type27}</td>
						<td>#{plan_StartTime27}</td>
						<td>#{plan_EndTime27}</td>
						<td>#{how_break27}</td>
						<td>#{plan_manufacturedate27}</td>
						<td>#{what_header_sernum27}</td>
						<td>#{plan_totaljoiner27}</td>
						<td>#{plan_repairedjoiner27}</td>
						<td>#{plan_status27}</td>
					</tr>
					if(str_PlanName28)
					<tr>
						<td>28</td>
						<td>#{str_PlanName28}</td>
						<td>#{plan_Hash28}</td>
						<td>#{plan_Type28}</td>
						<td>#{plan_StartTime28}</td>
						<td>#{plan_EndTime28}</td>
						<td>#{how_break28}</td>
						<td>#{plan_manufacturedate28}</td>
						<td>#{what_header_sernum28}</td>
						<td>#{plan_totaljoiner28}</td>
						<td>#{plan_repairedjoiner28}</td>
						<td>#{plan_status28}</td>
					</tr>
					if(str_PlanName29)
					<tr>
						<td>29</td>
						<td>#{str_PlanName29}</td>
						<td>#{plan_Hash29}</td>
						<td>#{plan_Type29}</td>
						<td>#{plan_StartTime29}</td>
						<td>#{plan_EndTime29}</td>
						<td>#{how_break29}</td>
						<td>#{plan_manufacturedate29}</td>
						<td>#{what_header_sernum29}</td>
						<td>#{plan_totaljoiner29}</td>
						<td>#{plan_repairedjoiner29}</td>
						<td>#{plan_status29}</td>
					</tr>
					if(str_PlanName30)
					<tr>
						<td>30</td>
						<td>#{str_PlanName30}</td>
						<td>#{plan_Hash30}</td>
						<td>#{plan_Type30}</td>
						<td>#{plan_StartTime30}</td>
						<td>#{plan_EndTime30}</td>
						<td>#{how_break30}</td>
						<td>#{plan_manufacturedate30}</td>
						<td>#{what_header_sernum30}</td>
						<td>#{plan_totaljoiner30}</td>
						<td>#{plan_repairedjoiner30}</td>
						<td>#{plan_status30}</td>
					</tr>
					
				</table>
			</div>
			<br>
			|Page <a href="#" onclick="toggle('div1','div2','div3');"> 1 </a><a href="#" onclick="toggle('div2','div1','div3');"> 2 </a><a href="#" onclick="toggle('div3','div2','div1');"> 3 </a>
		</form>
		<script>console.log('hiiii')</script>
		<script>console.log('qqq', #{info} )</script>
		//- script.
		//-      if (#{test} != "")
		//-           console.log('123', #{test})
		//-           alert('qqq')
		//-      else
		//-           console.log('456')
		<script src="/javascripts/joinplan/joinplan_choose.js" type="text/javascript"></script>
	</body>
</html>

