<!DOCTYPE html>
<html>
  <head>
    <title>transfer_token</title>
    <link rel='stylesheet' href='/stylesheets/accounting/transfer_token.css'>
  </head>
  <body>
    <h1>
        |transfer_token
    </h1>

    <form action="" method="post">
        <p>
            |#{router_method}
        </p>
        |#{name}
        |#{pass}
        |#{rows}
        |#{str_PlanName}
        |#{plan_Start}
        |#{plan_Price}
        |#{num_Joiner}
        |#{num_Repair}

        <input type="submit" value="transfer" class="submit" >

    </form>


    <script src="/javascripts/accounting/transfer_token.js" type="text/javascript"></script>
  </body>
</html>
