<!DOCTYPE html>
<html>
  <head>
    <title>加入方案</title>
    <link rel='stylesheet' href='/stylesheets/joinplan.css'>
  </head>
  <body align="center" valign="center">
    <h1>
        |加入方案
    </h1>
       <form action="" method="post">
       <p>加入人位址：<input type="text" id="addrjoiner" name="addr_Joiner" value="0xd00daFCAeee2d38dCdd6ACEce3981052B39fb79f"></p>
       <p>欲加入方案名稱：<input type="text" id="strplanname" name="str_PlanName" value="test"></p>
       <p>商品購買日期：<input type="date" id="combuydate" name="com_BuyDate"></p>
       <p>商品金額：<input type="text" id="comprice" name="com_Price" value=100></p>
       <p>商品名稱：<input type="text" id="comname" name="com_Name"></p>
       <p>商品序號：<input type="text" id="comsernum" name="com_SerNum"></p>    

       <input type="submit">
    </form>
    <p>
        |#{hash}
    </p>

    <p>
        |#{addr_Joiner}
    </p>

    <p>
        |#{str_PlanName}
    </p>

    <p>
        |#{com_BuyDate}
    </p>

    <p>
        |#{com_Price}
    </p>

    <p>
        |#{com_Name}
    </p>

    <p>
        |#{com_SerNum}
    </p>

    <script src="/javascripts/joinplan.js" type="text/javascript"></script>
  </body>
</html>